services:
  web:
    build: .
    restart: always
    environment:
      - VIRTUAL_HOST=fplgeek.xyz,www.fplgeek.xyz,31.97.232.229
      - LETSENCRYPT_HOST=fplgeek.xyz,www.fplgeek.xyz
      - LETSENCRYPT_EMAIL=vishnuprakash1999@gmail.com
    networks:
      - nginx-proxy
    expose:
      - "80"
    depends_on:
      - server

  server:
    build: ./local_functions
    restart: always
    env_file: .env
    environment:
      - PORT=3000
    networks:
      - nginx-proxy
    volumes:
      - ./public/data:/app/public/data

networks:
  nginx-proxy:
    external: true
