@import './styles/variables.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: hsl(var(--color-accent-primary));
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  text-decoration: underline;
}

button {
  cursor: pointer;
  font-family: inherit;
}